body {
  background: #4ca1af; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c4e0e5,
    #4ca1af
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c4e0e5,
    #4ca1af
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav {
  background-color: #c4e0e5;
  border: none;
}
#profile-pic {
  max-width: 3rem;
  max-height: 3rem;
}

.stats {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
  text-size: 0.1rem;
}

.stat {
  padding: 0 1rem 0 1rem;
}

.profile-pic {
  max-width: 3rem;
  max-height: 3rem;
}

.home {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 2rem;
}

.messages {
  border-radius: 1rem;

  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* justify-content: center; */
  padding-left: 3rem;
}
.message {
  /* border: solid gray 0.1rem; */
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* width: 30rem; */
  /* max-height: 15rem; */
  /* padding: 1rem; */
}

.home-layout {
  padding-right: 1rem;
}

.message-display {
  padding: 1rem;
}

.message-area,
.timeline-image {
  display: inline-block;
  width: 75%;
}

.timeline-image {
  border-radius: 3rem;
  height: 3rem;
  width: 3rem;
  /* margin-top: -3rem; */
}
.timeline-image a {
  text-decoration: none;
}
.message-area {
  margin-left: 1rem;
}

.image-link {
  text-decoration: none;
}

.message {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem;
  background-color: white;
}
.messages-list {
  border-radius: 2rem;
}

.card {
  background-color: #c4e0e5;
}

.search {
  background-color: white;
}
.search:focus {
  background-color: white;
}

.btn-search {
  background-color: #4ca1af;
}

.logo {
  height: 2rem;
}
.nav-right {
  display: flex;
}

.nav-image {
  padding-left: 1rem;
  height: 2rem;
}
