body {
  background: #4ca1af; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c4e0e5,
    #4ca1af
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c4e0e5,
    #4ca1af
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav {
  background-color: #c4e0e5;
  border: none;
}
#profile-pic {
  max-width: 3rem;
  max-height: 3rem;
}

.stats {
  display: flex;
  justify-content: center;
  text-align: center;
  text-size: 0.1rem;
}

.stat {
  padding: 1rem;
}

.profile-pic {
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
}

.home {
  display: flex;
  margin-top: 2rem;
}

.messages {
  border-radius: 1rem;
  padding-left: 2rem;
}

.card-link {
  display: flex;
  flex-direction: row;
}
.card-link p {
  margin-top: 2rem;
}
.card-body {
  margin-top: -3rem;
}
.message-display {
  padding: 1rem;
}

.message-area,
.timeline-image {
  display: inline-block;
}

.timeline-image {
  border-radius: 3rem;
  height: 3rem;
  width: 3rem;
}
.timeline-image a {
  text-decoration: none;
}
.message-area {
  margin-left: 1rem;
}

.image-link {
  text-decoration: none;
}

.message {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem;
  background-color: white;
}
.messages-list {
  border-radius: 2rem;
  max-width: 40rem;
}

.card {
  background-color: #c4e0e5;
  justify-content: center;
  width: 25rem;
}

.search {
  background-color: white;
}
.search:focus {
  background-color: white;
}

.btn-search {
  background-color: #4ca1af;
}

.nav-image {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 2.5rem;
  margin-left: 0.5rem;
}
.nav-right {
  display: flex;
}

.logo {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 993px) {
  .home {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 2rem;
  }

  .card {
    width: auto;
    max-width: 40rem;
  }
  .messages {
    padding-top: 1rem;
    padding-left: 0;
    width: auto;
  }
}

.profile-stats {
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  text-size: 0.1rem;
}
.profile-pic-bg {
  height: 13rem;
  width: 13rem;
  border-radius: 13rem;
  border: 0.3rem solid white;
}

.profile-user {
  /* position: absolute; */
  /* padding-left: 3rem; */
  /* margin-left: -50rem; */
  margin-top: -7rem;
}

.header {
  width: auto;
  max-height: 15rem;
  height: 15rem;
}
.messages-list-profile {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
