
{% extends "base.html" %} {% block title %} {{ user.username }} {% endblock %}
{% block content %}
<div class="header-image  card"  style="width: 100%;">
    <img class="header-img" src="{{ user.header_image_url }}" alt="r...">
</div>

<div class="profile-stats">
    <div class="profile-user">
        <img src="{{ user.image_url }}"
            alt="Image for {{ user.username }}"
            class="card-image profile-pic-bg rounded-circle">
    </div>

    <div class="stat profile-stat">
        <div class="text-muted"> <b>Messages</b></div>
        <div> <a href="/users/{{ user.id }}">{{ user.messages | length}} </a> </div> 
    </div >
    <div class="stat profile-stat">
        <div class="text-muted"><b>Following</b></div>
        <div> <a href="/users/followings/{{ user.id }}">{{ user.followings | length}} </a> </div> 
    </div>
    <div class="stat profile-stat">
        <div class="text-muted"><b>Followers</b></div>
        <div> <a href="/users/followers/{{ user.id }}">{{ user.followers | length}} </a> </div> 
    </div>
    <div class="stat profile-stat">
        <div class="text-muted"><b>Likes</b></div>
        <div> <a href="">{{ user.likes | length}} </a> </div> 
    </div>
    <div class="stat profile-stat ">
        {% if g.user.id != user.id %}
        <div class="profile-follow-btn">
            {% if user in g.user.followings %}
            <form action="/users/unfollow/{{user.id}}" method="POST">
                <button class="btn btn-primary btn-sm"> Unfollow</button>
            </form>
            {% else %}
            <form action="/users/follow/{{user.id}}" method="POST">
                <button class="btn btn-outline-primary btn-sm"> Follow</button>
            </form>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
<div class="profile-follows-info container">
    <div class="">
        <div class="card profile-info">
            <div class="card-body">
                <div class="card-text"> <b>@{{ user.username }} </b></div>
                <h4 class="card-title">Bio</h4>
                <div class="card-text">{{user.bio}}</div>
                <h4 class="card-title">Location</h4>
                <div class="card-text">{{ user.location}}</div>

            </div> 
        </div> 
    </div>
        <div class="follow-grid ">
            {% for user in user.followers %}
            <div class="card search-card">
                <img
                    src="{{ user.header_image_url }}"
                    class="search-header-image"
                    alt="..."
                />
                <div class="card-body">
                    <div class="search-profile-img">
                        <a href="/users/{{user.id}}">
                            <img src="{{ user.image_url}}" class="profile-pic" alt="" />
                            <div class="card-text">@{{user.username}}</div></a
                        >
                        <div class="card-text">{{user.bio}}</div>
                        {% if g.user.id != user.id %}
                        <div class="follow-btn">
                            {% if user in g.user.followings %}
                            <form action="/users/unfollow/{{user.id}}" method="POST">
                                <button class="btn btn-primary btn-sm">Unfollow</button>
                            </form>
                            {% else %}
                            <form action="/users/follow/{{user.id}}" method="POST">
                                <button class="btn btn-outline-primary btn-sm">Follow</button>
                            </form>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

</div>
    {% endblock %}

