{% extends "base.html" %} {% block title %} {{ user.username }} {% endblock %}
{% block content %}
    {% include "components/header_one.html" %}
<div class="profile-follows-info container">
    {% include "components/info_card.html" %}
    <div class="follow-grid ">
        {% for user in user.followers %}
        {% include "components/follow.html" %}  
        {% endfor %}
    </div>

</div>
{% include "components/modal_post_form.html" %}
{% include "components/modal_edit_profile.html" %}

<script src=" {{ url_for('app_routes.static', filename='followers.js' ) }} "></script>
{% endblock %}

