{% extends "base.html" %} {% block title %} {{ user.username }} {% endblock %}
{% block content %}
    {% include "components/header_one.html" %}

    <hr class="text-white">
<!-- <div class="profile-messages-info"> -->
    <ul class="follow-grid list-group">
        {% for user in follows %}
        {% include "components/follow.html" %}
        {% endfor %}
    </ul>

<!-- </div> -->
{% include "components/modal_post_form.html" %}
{% include "components/modal_edit_profile.html" %}

<script src=" {{ url_for('app_routes.static', filename='follow.js' ) }} "></script>
{% endblock %}

