
{% extends "base.html" %} {% block title %} {{ user.username }} {% endblock %}
{% block content %}
    {% include "components/header.html" %}
    <hr class="text-white">
    <ul class="list-group forms-list">
        {% for user in user.followers[:10] %}
        {% include "components/follow.html" %}
        {% endfor %}
    </ul>

{% include "components/modal_post_form.html" %}
{% include "components/modal_edit_profile.html" %}
{% include "components/searchbar_modal.html" %}

<script src=" {{ url_for('app_routes.static', filename='followers.js' ) }} "></script>
{% endblock %}

