{% extends "base.html" %} {% block title %} Home {% endblock %}
{% block content %}
<!-- <div class="messages-list"> -->
    <!-- <div class="messages"> -->
<div class="forms">
<form id="post-form" action="" method="POST">
    {{ form.csrf_token }}
    {{ form.text(class="form-control", placeholder="What's Happening?", id="text_post_form_home") }}
        <div id="the-count" class="">
            <b>
                <span id="current">0</span> /
                <span id="maximum"> 148</span>
            </b>
            <button class="btn btn-primary btn-sm"> Post</button>
        </div>

</form>

</div>
<hr class="text-white">
<ul class="list-group forms-list">
    {% for post in posts %}
    {% include "components/messages.html" %}
    {% endfor %}
</ul>
<!-- </div> -->
<!-- </div> -->
{% include "components/modal_post_form.html" %}
{% include "components/searchbar_modal.html" %}
<script src=" {{ url_for('app_routes.static', filename='home.js' ) }} "></script>
    {% endblock %}
