{% extends "base.html" %} {% block title %} Home {% endblock %}
{% block content %}
<!-- <div class="messages-list"> -->
    <!-- <div class="messages"> -->
        <form id="post-form" action="" method="POST">
            {{ form.csrf_token }}
            {{ form.text(class="form-control", placeholder="What's Happening?") }}
            <button class="btn btn-primary btn-sm"> Warble <i class="fa-brands fa-twitter"></i></button>
        </form>
        <hr class="text-white">
        <ul class="list-group forms-list">
            {% for msg in messages %}
                {% include "components/messages.html" %}
            {% endfor %}
        </ul>
    <!-- </div> -->
<!-- </div> -->
{% include "components/modal_post_form.html" %}
        <script src=" {{ url_for('app_routes.static', filename='home.js' ) }} "></script>
{% endblock %}
