{% extends "base.html" %} {% block title %} Home {% endblock %}
{% block content %}
<div class="home container">
    <div class="">
        <div class="card homepage-card sticky-top">
            <img src="{{ g.user.header_image_url }}" class="card-img-top" alt="...">
            <div class="card-body homepage-card-body">
                <a href="/users/{{ g.user.id }}" class="card-link">
                    <img src="{{ g.user.image_url }}"
                        alt="Image for {{ g.user.username }}"
                        class="card-image profile-pic ">
                    <p> @{{ g.user.username }}</p>
                </a>
            </div> 
            <div class="stats">
                <div class="stat">
                    <div class="text-muted"> <small>Messages</small></div>
                    <div> <a href="/users/{{ g.user.id}}">{{ g.user.messages | length}} </a> </div> 
                </div >
                <div class="stat">
                    <div class="text-muted"><small>Following</small></div>
                    <div> <a href="/users/following/{{ g.user.id }}">{{ g.user.following | length}} </a> </div> 
                </div>
                <div class="stat">
                    <div class="text-muted"><small>Followers</small></div>
                    <div> <a href="/users/followers/{{ g.user.id }}">{{ g.user.followers | length}} </a> </div> 
                </div>
                <div class="stat">
                    <div class="text-muted"><small>Likes</small></div>
                    <div> <a href="/users/messages/likes/{{ user.id }}">{{ g.user.likes | length}} </a> </div> 
                </div>
            </div>
        </div> 
    </div>


    <div class="messages-list">
        <div class="messages">
            <div class="mb-3">
                <form action="" method="POST">
                    {{ form.csrf_token }}
                    {{ form.text(class="form-control", placeholder="What's Happening?") }}
                    <button class="btn btn-primary btn-sm"> Warble <i class="fa-brands fa-twitter"></i></button>
                </form>
            </div>
            <ul class="list-group">
            {% for msg in messages %}

                {% include "components/messages.html" %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
    {% endblock %}
