{% extends "base.html" %} {% block title %} {{ user.username }} {% endblock %}
{% block content %}
    {% include "components/header.html" %}
    <hr class="text-white">
<div class="profile-messages-info">
        <ul class="list-group messages forms-list">
        {% for msg in user.likes[::-1] %}
        {% include "components/messages.html" %}
        {% endfor %}
        </ul>
</div>

{% include "components/modal_post_form.html" %}
{% include "components/modal_edit_profile.html" %}
{% include "components/searchbar_modal.html" %}
<script src=" {{ url_for('app_routes.static', filename='likes.js' ) }} "></script>

{% endblock %}

