{% extends "base.html" %} {% block title %} Message {% endblock %}

{% block content %}

<!-- <div class="messrges"> -->
    <ul class="list-group messages forms-list">
        {% include "components/messages.html" %} 
    </ul>
    <hr  class="text-white">
    <!-- <div id="post-form"> -->
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.text(class="form-control", placeholder="What do you think?") }}
            <button class="btn btn-primary btn-sm"> React  <i class="fa-brands fa-twitter"> </i></button>
        </form>
    <!-- </div> -->
    <hr  class="text-white">

    <ul class="list-group messages">
        {% for comment in msg.comments[::-1] %}
        {% include "components/comments.html" %} 
        {% endfor %}
    </ul>
<!-- </div> -->
<script src=" {{ url_for('app_routes.static', filename='message.js' ) }} "></script>
{% endblock %}

