{% extends "base.html" %} {% block title %} Message {% endblock %}

{% block content %}

<div class="message-page">
    <div class="messages">
        <ul class="list-group">
            {% include "components/messages.html" %} 
        </ul>
        <div class="mb-3 mt-3">
            <form action="" method="POST">
                {{ form.csrf_token }}
                {{ form.text(class="form-control", placeholder="What do you think?") }}
                <button class="btn btn-primary btn-sm"> React  <i class="fa-brands fa-twitter"> </i></button>
            </form>
        </div>
        <ul class="list-group">
            {% for comment in msg.comments %}
            <li class="list-group-item message">
                <a class="" href="/users/{{ comment.user.id }}">
                    <img src="{{ comment.user.image_url }}" alt="" class="rounded-circle timeline-image">
                </a>
                <div class="message-area">
                    <a href="/users/{{ comment.user.id }}">@{{ comment.user.username }}</a>
                    <span class="text-muted">{{ comment.timestamp.strftime('%d %B %Y') }}</span>
                    <p>{{ comment.text }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

