{% extends "base.html" %} {% block title %} {% endblock %}

{% block content %}
{% if message_form.errors %}
<ul class="errors">
  {% for field_name, field_errors in message_form.errors|dictsort if field_errors %} {%
  for error in field_errors %}
  <li>{{ message_form[field_name].label }}: {{ error }}</li>
  {% endfor %} {% endfor %}
</ul>
{% endif %}
<h5 class="text-white">{{conversation}}</h5>


<ul class="list-group">
    {% for message in conversation.messages %}
    {% if message.user.id != g.user.id %}
    <li class="list-group-item  d-flex " style="justify-content:space-between; ">
        <div>
            {{ message.text }} 
        </div>
        <div class="text-muted time-ago">
        {{ time(message.timestamp) }}
        </div>
    </li>
    {% else %}
    <li class="list-group-item d-flex " style="justify-content:space-between; ">
        <div class="text-muted time-ago">
            {{ time(message.timestamp) }}
        </div>
        <div>

        {{ message.text }}
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
   <form class="message-form" action="" method="POST">
    {{ message_form.csrf_token }}
    {{ message_form.text(class="form-control") }}
        <button class=" btn btn-primary"> send</button>
    </form>
{% endblock %}
{% include "components/modal_post_form.html" %}
{% include "components/searchbar_modal.html" %}
