{% extends "base.html" %} {% block title %} {% endblock %}

{% block content %}
{% if message_form.errors %}
<ul class="errors">
  {% for field_name, field_errors in message_form.errors|dictsort if field_errors %} {%
  for error in field_errors %}
  <li>{{ message_form[field_name].label }}: {{ error }}</li>
  {% endfor %} {% endfor %}
</ul>
{% endif %}
<div id="{{user.id}}" class="top-dmessage sticky-top">

    <h5 class="text-muted"> {{user.username}}</h5>
</div>


<div class="list-grou direct-messages">
    {% for message in messages%}
    {% if message.user.id != g.user.id %}
    <div class="list-group-itm  d-flex dmessage " style="justify-content:flex-start;">
        <div class="msg-receiver">
            {{ message.text }} 
        </div>
    </div>
    <div class="text-muted time-ago d-flex"  style="justify-content:flex-start;">
        {{ time(message.timestamp) }}
    </div>

    {% else %}
    <div class="list-group-ite d-flex " style="justify-content:flex-end; ">
        <div class="msg-sender">
            {{ message.text }} 
        </div>
    </div>
     <div class="text-muted time-ago d-flex"  style="justify-content:flex-end;">
            {{ time(message.timestamp) }}
    </div>

    {% endif %}
    {% endfor %}
</div>
<form id="{{user.id}}" class="message-form" action="" method="POST">
    {{ message_form.csrf_token }}
    {{ message_form.text(class="form-control sticky-bottom") }}
    <button class=" btn btn-primary"> send</button>
</form>

<!-- <div class="bg-message-form"> -->
<!-- </div> -->
{% include "components/modal_post_form.html" %}
{% include "components/searchbar_modal.html" %}

<script src="{{ url_for('app_routes.static', filename='messages.js' ) }}"></script>

    {% endblock %}

