{% extends "base.html" %} {% block title %} Search {% endblock %}
{% block content %}
<ul class="list-group forms-list">
    {% for user in users %}
    {% include "components/follow.html" %}
    {% endfor %}
</ul>
<hr class="text-white">

    <ul class="list-group  messages forms-list-search">
    {% for post in posts %}
    {% include "components/posts.html" %}
    {% endfor %}
</ul>
{% include "components/modal_post_form.html" %}

<script src=" {{ url_for('app_routes.static', filename='search.js' ) }} "></script>
    {% endblock %}

