{% extends "base.html" %} {% block title %} {{ user.username }} {% endblock %}
{% block content %}
<div class="header-image  card" >
    <img class="header-img" src="{{ user.header_image_url }}" alt="r...">
</div>

<div class="profile-stats">
    <div class="profile-user">
        <img src="{{ user.image_url }}"
            alt="Image for {{ user.username }}"
            class="card-image profile-pic-bg">
    </div>

    <div class="stat profile-stat">
        <div class="text-muted"> <b>Messages</b></div>
        <div> <a href="/users/{{ user.id }}">{{ user.messages | length}} </a> </div> 
    </div >
    <div class="stat profile-stat">
        <div class="text-muted"><b>Following</b></div>
        <div> <a href="/users/followings/{{ user.id }}">{{ user.followings | length}} </a> </div> 
    </div>
    <div class="stat profile-stat">
        <div class="text-muted"><b>Followers</b></div>
        <div> <a href="/users/followers/{{ user.id }}">{{ user.followers | length}} </a> </div> 
    </div>
    <div class="stat profile-stat">
        <div class="text-muted"><b>Likes</b></div>
        <div> <a href="">{{ user.likes | length}} </a> </div> 
    </div>
    <div class="stat profile-stat ">
        {% if g.user.id != user.id %}
        <div class="profile-follow-btn">
            {% if user in g.user.followings %}
            <form action="/users/unfollow/{{user.id}}" method="POST">
                <button class="btn btn-primary btn-sm"> Unfollow</button>
            </form>
            {% else %}
            <form action="/users/follow/{{user.id}}" method="POST">
                <button class="btn btn-outline-primary btn-sm"> Follow</button>
            </form>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
<div class="profile-messages-info">
    <div class="">
        <div class="card profile-info">
            <div class="card-body">
                <div class="card-text"> <b>@{{ user.username }} </b></div>
                <h4 class="card-title">Bio</h4>
                <div class="card-text">{{user.bio}}</div>
                <h4 class="card-title">Location</h4>
                <div class="card-text">{{ user.location}}</div>
            </div> 
            {% if g.user.id == user.id %}
            <div class=" post-btn">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Post
                </button>
            </div>
            {% endif %}
        </div> 
    </div>


    <div class="messages-list">
        <div class="messages">
            {% for msg in user.messages %}
            <div class="message border">
                <a href="/messages/{{ msg.id  }}">
                <div>
                    click
                </div>
                </a>
                <div class="">
                    <a class="" href="/users/{{ msg.user.id }}">
                        <img src="{{ msg.user.image_url }}" alt="" class="rounded-circle timeline-image">
                    </a>
                </div>
                <div class="message-area">
                    <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
                    <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
                    <a href="/messages"></a>
                    <p>{{ msg.text }}</p>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Post a Warble</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="POST">
                <div class="modal-body">
                    {{ form.csrf_token }}
                    {{ form.text(class="form-control modal-form", placeholder="What's Happening?") }}
                </div>
                <div id="the-count">
                    <span id="current">0</span>
                    <span id="maximum">/ 148</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary"> Warble <i class="fa-brands fa-twitter"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
