{% extends "base.html" %} {% block title %} {{ user.username }} {% endblock %}
{% block content %}
    {% include "components/header_one.html" %}
<div class="profile-messages-info">
   <!-- {% include "components/info_card.html" %} -->

        <ul class="list-group messages forms-list"> 
        {% for msg in messages %}
        {% include "components/reposted_messages.html" %}
        {% endfor %}
        </ul>
</div>

{% include "components/modal_post_form.html" %}
{% include "components/modal_edit_profile.html" %}
<script src=" {{ url_for('app_routes.static', filename='profile.js' ) }} "></script>

{% endblock %}
