<div id="{{user.id}}" class="card card-id">
  <img class="header-img" src="{{ user.header_image_url }}" alt="r..." />
  <div class="card-body">
    <div class="top-card">
      <img
        src="{{ user.image_url }}"
        alt="Image for {{ user.username }}"
        class="profile-pic-bg"
      />
      <div class="stat profile-stat list-group-item stat-btn mt-2">
        {% if g.user.id != user.id %}
        <form id="{{user.id}}" class="header-follow-form" method="POST">
          {% if user in g.user.following %}
          <button
            class="btn btn-primary btn-sm stat-follow-btn unfollow"
            data-hover="Unfollow"
          >
            <span> Following </span>
          </button>
          {% else %}
          <button class="btn btn-outline-primary btn-sm stat-follow-btn">
            <span>Follow</span>
          </button>
          {% endif %}
        </form>
        {% else %}
        <button
          type="button"
          class="btn btn-primary btn-sm"
          style="width: 6rem"
          data-bs-toggle="modal"
          data-bs-target="#edit-profile"
        >
          Edit
        </button>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="bottom-card">
    <div class="card-text text-muted">
      <b> @{{user.username}}</b> {% if user in g.user.followers %}<small
        class="follow-indicator"
      >
        Follows you</small
      >{% endif %}
    </div>
    <div class="card-text">{{user.bio}}</div>
    <div class="card-text">
      <i class="fa-solid fa-location-dot"></i> {{ user.location}}
    </div>
    <div class="card-text stats text-muted">
      <a href="/users/{{user.id}}">
        <span class="stat-post">{{user.posts | length}}</span>
        <span class="text-muted"> Posts</span>
      </a>
      <a
        id="{{user.id}}"
        class="stat-followin"
        href="/users/following/{{ user.id }}"
      >
        <span id="{{user.id}}" class="stat-following"
          >{{ user.following | length}}
        </span>
        <span class="text-muted"> Following</span>
      </a>

      <a class="stat-followers" href="/users/followers/{{ user.id }}" r
        >{{ user.followers | length}}
        <span class="text-muted"> Followers</span>
      </a>
      <a href="/users/posts/likes/{{user.id}}"
        ><span id="{{user.id}}" class="stat-likes"
          >{{ user.likes | length}}
        </span>
        <span class="text-muted"> Likes</span>
      </a>
    </div>
  </div>
</div>
