<div class="header-image card" style="width: 100%">
  <img class="header-img" src="{{ user.header_image_url }}" alt="r..." />
</div>

<ul class="profile-stats list-group list-group-horizontal">
  <li class="profile-user list-group-item">
    <img
      src="{{ user.image_url }}"
      alt="Image for {{ user.username }}"
      class="card-image profile-pic-bg"
    />
  </li>

  <li class="stat profile-stat list-group-item">
    <div class="text-muted"><b>Messages</b></div>
    <div>
      <a class="stat-msg" href="/users/{{ user.id }}"
        >{{ user.messages | length}}
      </a>
    </div>
  </li>
  <li class="stat profile-stat list-group-item">
    <div class="text-muted"><b>Following</b></div>
    <div>
      <a
        id="{{user.id}}"
        class="stat-following"
        href="/users/following/{{ user.id }}"
        >{{ user.following | length}}
      </a>
    </div>
  </li>
  <li class="stat profile-stat list-group-item">
    <div class="text-muted"><b>Followers</b></div>
    <div>
      <a class="stat-followers" href="/users/followers/{{ user.id }}"
        >{{ user.followers | length}}
      </a>
    </div>
  </li>
  <li class="stat profile-stat list-group-item">
    <div class="text-muted"><b>Likes</b></div>
    <div>
      <a
        id="{{user.id}}"
        class="stat-likes"
        href="/users/messages/likes/{{user.id}}"
        >{{ user.likes | length}}
      </a>
    </div>
  </li>
  <li
    class="stat profile-stat profile-stat-follow-form list-group-item stat-btn"
  >
    {% if g.user.id != user.id %}
    <form id="{{user.id}}" class="follows-stat" method="POST">
      {% if user in g.user.following %}
      <button
        class="btn btn-primary btn-sm stat-follow-btn unfollow profile-stat-btn"
        data-hover="Unfollow"
      >
        Following
      </button>
      {% else %}
      <button
        class="btn btn-outline-primary btn-sm stat-follow-btn profile-stat-btn"
      >
        Follow
      </button>
      {% endif %}
    </form>
    {% else %}
    <div class="edit-btn profile-stat-btn">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#edit-profile"
      >
        Edit
      </button>
    </div>
    {% endif %}
  </li>
</ul>
