{% if user %}
<div class="card profile-info">
  <div class="card-body">
    <div class="card-tex">
      <b>@{{ user.username }} </b>
      {% if g.user in user.following %}
      <small class="text-muted"> Follows you</small>
      {%endif%}
    </div>
    <p class="card-tex">{{user.bio}}</p>
    <small class="">
      <i class="fa-solid fa-location-dot"></i> {{ user.location}}
    </small>
  </div>
  {% if g.user.id == user.id %}
  <div class="post-btn">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Post
    </button>
  </div>
  {% endif %}
</div>
{% endif %}
