<li class="list-group-item">
  <div class="m">
    <button
      type="button"
      class="btn btn-sm"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="fa-solid fa-ellipsis"></i>
    </button>

    <ul class="dropdown-menu">
      <li class="dropdown-item">
        {% if msg.user.id == g.user.id %}
        <form action="/messages/{{ msg.id }}/delete" method="POST">
          <button class="btn btn-link text-muted">Delete</button>
        </form>
        {% endif %}
      </li>
      <li class="dropdown-item">
        {% if msg.user.id != g.user.id %} {% if msg.user in g.user.following %}
        <form action="/users/unfollow/{{msg.user.id}}" method="POST">
          <button class="btn btn-link text-muted">Unfollow</button>
        </form>
        {% else %}
        <form action="/users/follow/{{msg.user.id}}" method="POST">
          <button class="btn btn-link text-muted">Follow</button>
        </form>
        {% endif %} {% endif %}
      </li>
    </ul>
  </div>
  <div class="message">
    <a class="" href="/users/{{ msg.user.id }}">
      <img src="{{ msg.user.image_url }}" alt="" class="timeline-image" />
    </a>
    <div class="message-area">
      <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
      <span class="text-muted">{{ msg.timestamp.strftime('%b %d, %Y') }}</span>
      <p>{{ msg.text }}</p>
    </div>
  </div>
</li>
<div class="like-btn">
  {% if msg in g.user.likes %}
  <form action="/messages/{{ msg.id}}/unlike" method="POST">
    <button class="btn">
      <i class="fa-solid fa-thumbs-up liked"></i> {{ msg.users | length }}
    </button>
  </form>
  {% else %}
  <form action="/messages/{{ msg.id}}/like" method="POST">
    <button class="btn">
      <i class="fa-regular fa-thumbs-up"></i> {{ msg.users | length }}
    </button>
  </form>
  {% endif %}
  <div>
    <a class="btn primary" href="/messages/{{ msg.id }}">
      <i class="fa-sharp fa-solid fa-comment"></i>
      {{ msg.comments | length }}
    </a>
  </div>

  {% if msg in g.user.reposted %}
  <form action="/messages/{{ msg.id}}/unpost" method="POST">
    <button class="btn">
      <i class="fa-solid fa-retweet reposted"></i>
      {{ msg.reposted | length }}
    </button>
  </form>
  {% else %}
  <form action="/messages/{{ msg.id}}/repost" method="POST">
    <button class="btn">
      <i class="fa-solid fa-retweet"></i>
      {{ msg.reposted | length }}
    </button>
  </form>
  {% endif %}
</div>
