<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Post a Warble</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="/users/{{user.id}}" method="POST">
        <div class="modal-body">
          {{ form.csrf_token }} {{ form.text(class="form-control modal-form",
          placeholder="What's Happening?", id="text_post_form") }}
        </div>
        <div id="the-count">
          <b>
            <span id="current_post">0</span> /
            <span id="maximum"> 148</span>
          </b>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" style="border-radius: 1rem">
            Post
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
