<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Post a Warble</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="" method="POST">
        <div class="modal-body">
          {{ form.csrf_token }} {{ form.text(class="form-control modal-form",
          placeholder="What's Happening?") }}
        </div>
        <div id="the-count">
          <span id="current">0</span>
          <span id="maximum">/ 148</span>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button class="btn btn-primary">
            Warble <i class="fa-brands fa-twitter"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
