{% if edit_form.errors %}
<ul class="errors">
  {% for field_name, field_errors in edit_form.errors|dictsort if field_errors
  %} {% for error in field_errors %}
  <li>{{ edit_form[field_name].label }}: {{ error }}</li>
  {% endfor %} {% endfor %}
</ul>
{% endif %}
<div
  class="modal fade"
  id="edit-profile"
  tabindex="-1"
  aria-labelledby="edit-profile"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="#edit-profile">Edit Profile</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="edit-modal-form" action="/users/edit" method="POST">
          {{ edit_form.hidden_tag() }} {% for field in edit_form if
          field.widget.input_type != "hidden" %}
          <div class="form-floating mb-3">
            {{ field(class="form-control", placeholder=field.label.text ,
            id="floatingInput") }} {{field.label(for="floatingInput") }}
          </div>
          {% endfor %}
          <div class="edit-form">
            <button class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
