<nav
  class="d-flex flex-column flex-shrink-0 p-3 text-white sticky-top stiky-bottom nav-left-side"
>
  <hr class="text-white mobile-hr" />
  <ul class="nav nav-pills flex-colum mb-auto">
    {% if g.user %}
    <li class="nav-item">
      <a href="/" class="nav-link text-white" aria-current="page">
        <i class="fa-solid fa-house"></i> <span class="link-text">Home</span>
      </a>
    </li>
    <li>
      <a href="/users/{{g.user.id}}" class="nav-link text-white">
        <i class="fa-solid fa-user"></i> <span class="link-text">Profile</span>
      </a>
    </li>
    <li>
      <a href="/users/following/{{g.user.id}}" class="nav-link text-white">
        <i class="fa-solid fa-user-group"></i>
        <span class="link-text">Following</span>
      </a>
    </li>
    <li>
      <a href="/users/followers/{{g.user.id}}" class="nav-link text-white">
        <i class="fa-solid fa-users"></i>
        <span class="link-text">Followers</span>
      </a>
    </li>
    <li>
      <a href="/users/messages/likes/{{g.user.id}}" class="nav-link text-white">
        <i class="fa-solid fa-heart"></i> <span class="link-text">Likes</span>
      </a>
    </li>
    <li class="nav-item">
      <div class="post-btn">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="fa-solid fa-solid fa-circle-plus"> </i>

          <span class="link-text">Post</span>
        </button>
      </div>
    </li>

    {% endif %}
  </ul>
  <hr class="mobile-hr" />
  {% if g.user %}
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle profile-menu"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="{{ g.user.image_url}}"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong class="mobile-hr">{{ g.user.username }}</strong>
    </a>
    <ul
      class="dropdown-menu dropdown-menu-dark text-small shadow"
      aria-labelledby="dropdownUser1"
    >
      <li class="dropdown-item">
        <a class="btn btn-link text-white" href="/users/{{g.user.id}}/edit"
          >Edit</a
        >
      </li>
      <li><hr class="dropdown-divider mobile-hr" /></li>
      <li class="dropdown-item">
        <form
          id="{{g.user.id}}"
          class="logout navbar-form navbar-right"
          action="/logout"
          method="POST"
        >
          <button
            id="{{g.user.id}}"
            class="logout btn btn-link text-white link-underline-opacity-0"
          >
            Log out {{g.user.username}}
          </button>
        </form>
      </li>
    </ul>
  </div>
  {% endif %}
</nav>
