<nav class="text-white sticky-top stiky-bottom nav-left-side">
  <hr class="text-white mobile-hr" />
  <div class="nav-ite li-logo">
    <div class="logo nav-lin">
      <div>
        <a href="/">
          <img
            class="logo-image nav-lir text-white"
            src="{{ url_for('app_routes.static', filename='img/galaxy.svg') }}"
            alt=""
          />
        </a>
      </div>
      <div>
        <small class="text-white logo-text">Warp</small>
      </div>
    </div>
  </div>

  <ul class="nav nav-pills flex-colum mb-auto nav-list-bottom">
    {% if g.user %}
    <li class="nav-item">
      <a href="/" class="nav-link text-white home" aria-current="page">
        <i class="fa-solid fa-house"></i>
        <span class="link-text">&nbsp;Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/users/{{g.user.id}}" class="nav-link text-white profile">
        <i class="fa-solid fa-user"></i>
        <span class="link-text">&nbsp;Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/users/direct_message/{{g.user.id}}"
        class="nav-link text-white direct-message"
      >
        <i class="fa-solid fa-message"></i>
        <span class="link-text">&nbsp;Messages</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        href="/users/following/{{g.user.id}}"
        class="nav-link text-white following"
      >
        <i class="fa-solid fa-user-group"></i>
        <span class="link-text">&nbsp;Following</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/users/followers/{{g.user.id}}"
        class="nav-link text-white followers"
      >
        <i class="fa-solid fa-users"></i>
        <span class="link-text">&nbsp;Followers</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/users/messages/likes/{{g.user.id}}"
        class="nav-link text-white likes"
      >
        <i class="fa-solid fa-heart"></i>
        <span class="link-text">&nbsp;Likes</span>
      </a>
    </li>
    <li class="nav-item post-btn">
      <button
        type="button"
        class="btn nav-lin"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <span tyle="padding-right: 10px;" class="link-text">Post </span> &nbsp;
        <i class="fa-solid fa-solid fa-circle-plus"> </i>
      </button>
    </li>

    {% endif %}
  </ul>
  <hr class="mobile-hr" />
  {% if g.user %}
  <div class="dropdown profile-menu">
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle profile-men"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="{{ g.user.image_url}}"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong class="mobile-hr">{{ g.user.username }}</strong>
    </a>
    <ul
      class="dropdown-menu dropdown-menu-color text-small shadow"
      aria-labelledby="dropdownUser1"
    >
      <li class="dropdown-item" style="width: 100%">
        <a class="btn text-white" href="/users/{{g.user.id}}/edit">Edit</a>
      </li>
      <!-- <hr class="dropdown-divider text-white mobile-hr" /> -->
      <li class="dropdown-item">
        <form
          id="{{g.user.id}}"
          class="logout navbar-form navbar-right"
          action="/logout"
          method="POST"
        >
          <button
            id="{{g.user.id}}"
            class="logout btn text-white link-underline-opacity-0"
          >
            Log out {{g.user.username}}
          </button>
        </form>
      </li>
    </ul>
  </div>
  {% endif %}
</nav>
