<nav
  class="d-flex flex-column flex-shrink-0 text-white sticky-top nav-right-side"
>
  <hr class="mobile-hr" />
  <ul class="nav nav-pills flex-colum mb-auto nav-list-top">
    {% if g.user%}
    <li class="nav-item searchbar">
      <form action="/search" class="d-flex" role="search">
        <input
          class="form-control"
          type="search"
          name="search"
          placeholder="search"
          aria-label="search"
          id="search"
        />
        <button class="btn btn-default" type="submit">
          <!-- <span class="fa fa-search"></span> -->
        </button>
      </form>
    </li>
    <li>
      <div class="dropdown profile-menu-top">
        <a
          href="#"
          class="d-flex align-items-center text-white text-decoration-none dropdown-toggle profile-men"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{{ g.user.image_url}}"
            alt=""
            width="32"
            height="32"
            class="profile-menu-top-image"
          />
          <strong class="mobile-hr">{{ g.user.username }}</strong>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-color text-small shadow"
          aria-labelledby="dropdownUser1"
        >
          <li class="dropdown-item">
            <a
              class="btn btn-link text-white"
              href="{{ url_for('app_routes.edit_user_profile', user_id=g.user.id) }}"
              >Edit</a
            >
          </li>
          <li><hr class="dropdown-divider mobile-hr" /></li>
          <li class="dropdown-item">
            <form
              id="{{g.user.id}}"
              class="logout navbar-form navbar-right"
              action="/logout"
              method="POST"
            >
              <button
                id="{{g.user.id}}"
                class="logout btn btn-link text-white link-underline-opacity-0"
              >
                Log out {{g.user.username}}
              </button>
            </form>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <div class="logo-top-nav nav-lin">
        <div>
          <a href="/">
            <img
              class="logo-image nav-lir text-white"
              src="{{ url_for('app_routes.static', filename='img/galaxy.svg') }}"
              alt=""
            />
          </a>
        </div>
      </div>
    </li>

    <li class="top-search-btn">
      <button
        type="button"
        class="btn btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#search"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </li>

    {% endif %}
  </ul>

  <hr class="mobile-hr" />
  {% if g.user %} {% endif %}
</nav>
