<nav
  class="d-flex flex-column flex-shrink-0 p-3 text-white sticky-top nav-right-side"
>
  <hr class="mobile-hr" />
  <ul class="nav nav-pills flex-column mb-auto">
    {% if g.user%}
    <li class="nav-item searchbar">
      <form action="/search" class="d-flex" role="search">
        <input
          class="form-control"
          type="search"
          name="search"
          placeholder="search"
          aria-label="search"
          id="search"
        />
        <button class="btn btn-default" type="submit">
          <span class="fa fa-search"></span>
        </button>
      </form>
    </li>
    {% endif %}
  </ul>

  <hr />
</nav>
