<li id="post{{post.id}}" class="list-group-item">
  <div class="top-message">
    <div class="message">
      <div>
        <a class="" href="/users/{{ post.user.id }}">
          <img src="{{ post.user.image_url }}" alt="" class="timeline-image" />
        </a>
      </div>
      <div class="message-area">
        <a href="/users/{{ post.user.id }}">@{{ post.user.username }}</a>
        <span class="text-muted">
          {{ post.timestamp.strftime('%b%-d, %Y') }}</span
        >
        <div>{{ post.text }}</div>
      </div>
    </div>
    <div class="">
      <button
        type="button"
        class="btn btn-sm"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa-solid fa-ellipsis"></i>
      </button>

      <ul class="dropdown-menu">
        <li class="dropdown-ite text-dange">
          {% if post.user.id == g.user.id %}
          <button
            type="button"
            class="btn btn-link text-danger"
            data-bs-toggle="modal"
            data-bs-target="#delete_post{{post.id}}"
          >
            <i class="fa-solid fa-trash"></i> Delete
          </button>

          {% endif %}
        </li>
        <li class="dropdown-itr text-primary">
          {% if post.user.id != g.user.id %}
          <form
            id="{{post.user.id}}"
            class="follows"
            method="POST"
            data-follow-id="{{post.user.id}}"
          >
            {% if post.user in g.user.following %}
            <button class="btn btn-link text-danger">Unfollow</button>
            {% else %}
            <button class="btn btn-link text-mut">Follow</button>
            {% endif %}
          </form>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
  <!-- <hr class="hr-message" /> -->
  <div id="post{{post.id}}" class="like-btn">
    <div class="interaction">
      <form
        id="{{post.id}}"
        class="like-form"
        method="POST"
        data-like-id="{{post.id}}"
      >
        <button class="btn">
          {% if post in g.user.likes %}
          <i id="like_icon{{post.id}}" class="fa-solid fa-thumbs-up liked">
            {{ post.users | length }}
          </i>
          {% else %}
          <i
            id="like_icon{{post.id}}"
            class="fa-regular fa-thumbs-up not-liked"
          >
            {{ post.users | length }}
          </i>
          {% endif %}
        </button>
      </form>
    </div>
    <div class="interaction">
      <a class="btn primary" href="/posts/{{ post.id }}">
        {% if post in g.user.comments %}
        <i
          id="comment_icon{{post.id}}"
          class="fa-sharp fa-solid fa-comments liked cmt"
        >
          {{ post.comments | length }}
        </i>
        {% else %}
        <i
          id="comment_icon{{post.id}}"
          class="fa-sharp fa-regular fa-comments not-commented cmt"
        >
          {{ post.comments | length }}
        </i>
        {% endif %}
      </a>
    </div>
    <div class="interaction">
      <form
        id="{{post.id}}"
        class="repost-form"
        method="POST"
        data-repost-id="{{post.id}}"
      >
        <button class="btn">
          {% if post in g.user.reposted %}
          <i id="repost_icon{{post.id}}" class="fa-solid fa-retweet reposted">
            {{ post.reposted | length }}
          </i>
          {% else %}
          <i
            id="repost_icon{{post.id}}"
            class="fa-solid fa-retweet not-reposted"
          >
            {{ post.reposted | length }}
          </i>
          {% endif %}
        </button>
      </form>
    </div>
  </div>
  {% include "components/modal_delete_post.html" %}
</li>
