<li id="post{{pst.post.id}}" class="list-group-item">
  {% if not pst.original %}
  <div class="repost-message">
    {% if user.id == g.user.id %}
    <small style="position: absolute"
      >You reposted <i class="fa-solid fa-retweet"></i>
    </small>
    {% else %}
    <small style="position: absolute"
      >{{ user.username}} reposted <i class="fa-solid fa-retweet"></i>
    </small>
    {% endif %}
  </div>
  {%endif %}
  <div class="top-message">
    <div class="message">
      <a class="" href="/users/{{ pst.post.user.id }}">
        <img
          src="{{ pst.post.user.image_url }}"
          alt=""
          class="timeline-image"
        />
      </a>
      <div class="message-area">
        <a href="/users/{{ pst.post.user.id }}"
          >@{{ pst.post.user.username }}</a
        >
        <span class="text-muted"
          >{{ pst.post.timestamp.strftime('%b %-d, %Y') }}</span
        >
        <div>{{ pst.post.text }}</div>
      </div>
    </div>
    <div class="">
      <button
        type="button"
        class="btn btn-sm"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa-solid fa-ellipsis"></i>
      </button>

      <ul class="dropdown-menu">
        <li class="dropdown-ite text-dange">
          {% if pst.post.user.id == g.user.id %}
          <button
            type="button"
            class="btn btn-link text-danger"
            data-bs-toggle="modal"
            data-bs-target="#delete_post{{pst.post.id}}"
          >
            <i class="fa-solid fa-trash"></i> Delete
          </button>
          {% endif %}
        </li>
        <li class="dropdown-ite">
          {% if pst.post.user.id != g.user.id %}
          <form id="{{pst.post.user.id}}" class="follows" method="POST">
            {% if pst.post.user in g.user.following %}
            <button class="btn btn-lin text-danger">Unfollow</button>
            {% else %}
            <button class="btn btn-lin text-primary">Follow</button>
            {% endif %}
          </form>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
  <!-- <hr class="hr-message" /> -->
  <div id="post{{pst.post.id}}" class="like-btn">
    <div class="interaction">
      <form id="{{pst.post.id}}" class="like-form" method="POST">
        <button class="btn">
          {% if pst.post in g.user.likes %}
          <i id="like_icon{{pst.post.id}}" class="fa-solid fa-thumbs-up liked">
            <small id="likes_count"> {{ pst.post.users | length }} </small>
          </i>
          {% else %}
          <i
            id="like_icon{{pst.post.id}}"
            class="fa-regular fa-thumbs-up not-liked"
          >
            <small id="likes_count"> {{ pst.post.users | length }} </small>
          </i>
          {% endif %}
        </button>
      </form>
    </div>
    <div class="interaction">
      <a class="btn primary" href="/posts/{{ pst.post.id }}">
        {% if pst.post in g.user.commented %}
        <i class="fa-sharp fa-solid fa-comments liked">
          <small id="comments_count"> {{ pst.post.comments | length }} </small>
        </i>
        {% else %}
        <i class="fa-sharp fa-regular fa-comments not-commented">
          <small id="comments_count"> {{ pst.post.comments | length }} </small>
        </i>
        {% endif %}
      </a>
    </div>
    <div class="interaction">
      <form id="{{pst.post.id}}" class="repost-form" method="POST">
        <button class="btn">
          {% if pst.post in g.user.reposted %}
          <i
            id="repost_icon{{pst.post.id}}"
            class="fa-solid fa-retweet reposted"
          >
            <small id="repost_count"> {{ pst.post.reposted | length }} </small>
          </i>
          {% else %}
          <i
            id="repost_icon{{pst.post.id}}"
            class="fa-solid fa-retweet not-reposted"
          >
            <small id="repost_count"> {{ pst.post.reposted | length }} </small>
          </i>
          {% endif %}
        </button>
      </form>
    </div>
  </div>
  {% include "components/modal_delete_profile_post.html" %}
</li>
